*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #CE0505;
    padding: 13px 0px;
}
.header-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
  
}
.main-logo{
    width: 46px;
    height: 46px;
    background-color: #fff;
   
    border-radius: 100%;
}
.main-logo h1{
    display: flex;
    justify-content: center;
    align-items: center;
   color: #CE0505;
  
}
.buttons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.login h3{
    margin-right: 39px;
    color: #fff;
    margin-top: 12px;
}
.create-btn{
    padding: 0px 24px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}
.body-heading{
    padding: 13px 0px;
}
.item-sec{
    display: flex;
}
.filter{
   width: 25%;
   background-color: #fff;
   box-shadow: 0px 3px 6px #00000029;
  
   padding: 27px;
}
.filter p{
    margin: 10px 0px;
    font-weight: 500;
    color: #192F60;
}
input[type="checkbox"]:checked{
    border: 2px solid #3A5075 !important;
border-radius: 2px;
}
select{
    width: 100%;
    padding: 8px 0px;
    border-radius: 3px;
    border: 1px solid #8C96AB;
}
.filter input{
    margin-bottom: 12px;
}
.filter label{
    font-size: 14px;
    margin-left: 8px;
    color: #8C96AB;
}
.item-lists{
    width: 70%;
    margin-left: 5%;
    /* height: 400px; */
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}
.item-number{
   padding: 20px;
}
.item-description{
    display: flex;
    flex-wrap: wrap;
}
.item-img{
    width: 17%;
}
.item-img img{
    width: 120px;
    height: 120px;
    border-radius: 24px;
}
.item-text{
    width: 70%;
}